/data/*
!/data/.gitkeep

/models/*
!/models/.gitkeep

/results/logs/*
!/results/logs/.gitkeep

/results/plots/*
!/results/plots/.gitkeep

/results/ids/*
!/results/ids/.gitkeep

/results/videos/*
!/results/videos/.gitkeep

/Notes.txt

